<div class="jumbotron center">
	<h1>Welcome to Americana</h1>
	<p>Sign up here!</p>
	<%= link_to "Sign up", "http://www.google.com", class:"btn btn-default" %> 
	<%= link_to "Log In", "http://www.yahoo.com", class:"btn btn-primary" %>
	
</div>